@import "variables"; 

%blue_gradient {
    background: linear-gradient($light-blue, $dark-blue);
}

%red_gradient {
    background: linear-gradient($light-red, $dark-red);
}

%yellow_gradient {
    background: linear-gradient($light-yellow, $dark-yellow);
}