$background: rgb(229, 234,241);
$phone-backgroung: rgb(245,247,250);
$white: rgb(255, 255, 255);
$red: rgb(238, 34, 93);
$green: rgb(30, 192, 112);
$light-grey: rgb(174, 184, 196);
$dark-grey: rgb(76, 89, 104);
$blue-grey: rgb(67, 67, 88);

// for gradients:

$dark-blue: rgb(28, 127, 243);
$light-blue: rgb(24, 187, 250);
$dark-red: rgb(252, 45, 157);
$light-red: rgb(254, 93, 130);
$dark-yellow: rgb(255, 152, 30);
$light-yellow: rgb(255, 190, 60);