@import 'mixins';
@import 'variables';

.footer {
    width: 26.5625rem;
    height: 7rem;
    background-color: $white;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer img {
    width: 1.7rem;
    height: auto;
    margin: 1.8rem 0.8rem 0;
}

.footer img:hover {
    cursor: pointer;
}